.Projects {
    height: 100vh;
    top:200%;
    background-color: #d3d3d3;

}

.project-title{
    height: 100vh;
    display:block ;
    align-items: center;
    position: absolute;
    left: 15%;
    text-align: left;
    top: 220%;
  }
  