.HomePage {
  height: 100vh;
  background-color: #d3d3d3;
}
.header{
  background-color: white;
  display: flex;
  align-items: left;
}

.content{
  height: 100vh;
  display:block ;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 40%;
}

#title{
  font-size: 300%;
}

#description{
  font-size: larger;
}